// Default colors
$primary: #db3069;
$secondary: #44ffd2;
$tertiary: #0d1821;

// Neon colors
$blue: #01fff4;
$yellow: #fff205;
$red: #fe0000;
$pink: #ff1178;
$green: #7cff01;
$purple: #9c33ef;

// Other colors
$dark: #171717;
$black: #0e0e0e;
$gray: #888888;
$white: #ffffff;
